
.item img {
    width: 120px;
}

.content {
    display: flex;
    align-content: flex-start;
    align-self: center;
    margin-bottom: 10px;
}

.size_textarea {
    font-size: 14px;
}

.color_button {
    background-color: turquoise;
}

.postsBlock {
    padding: 10px;
}