.header {
    grid-area: h;
    background-color: deeppink;
}

.header_header {
    width: 1200px;
    height: 60px;
    max-width: 1200px;
    background: linear-gradient(crimson, gold, yellowgreen, teal, crimson);
    background-position: 0 0;
    border-radius: 10px;
    border: 3px solid white;
    animation: background 5s infinite alternate;
    opacity: 0.9;
}

.header_text {
    margin: 0;
    padding: 0;
    color: #333333;
    font-size: 38px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    border-shadowbox-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .9);
}

@keyframes background {
    100% {
        background-position: 0 300px;
    }
}