.nav {
    grid-area: n;
    background-color: lightyellow;
    transition-duration: 1s;
}
.nav:hover {
    background-color: lightseagreen;
}

.nav_list {
    /*list-style: none;*/
}

.item {
    color:white;
}

.item:hover {
    background-color: aqua;
}

.item a.activeLink {
    color: gold;
    text-decoration: none;
}

.item:focus {
    background-color: darkviolet ;
}

