.nav {
    grid-area: n;
    background-color: lightyellow;
    transition-duration: 1s;
}
.nav:hover {
    background-color: lightseagreen;
}

.nav-list {
    list-style: none;
}

.item {
    color:white;
}

.item:hover {
    background-color: aqua;
}

.item:active {
    background-color: lightpink;
}

