.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 150px 10fr;
    grid-template-areas: "h h" "n c";
    max-width: 1200px;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: c;
    background-color: hotpink;
}

img {
    border-radius: 10%;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.3);
}




