.dialogs {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "h h h" "d i m";
    margin: 0 auto;
}

.dialogs a {
    text-decoration: none;
}

.dialogsItems {
    padding: 20px;
    grid-area: d;
    text-align: center;
}

.dialogs a.activeLink {
    color: darkgoldenrod;
    font-weight: bold;
}

.dialogs_img img {
    width: 430px;
    margin-top: 10px;
    grid-area: i;
    margin-left: 30px;
}

.color_item {
    display: block;
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    grid-area: h;
}

.messages {
    padding: 20px;
    grid-area: m;
    justify-self: start;
}

