.dialogs {
    display: grid;
    grid-template-columns: 1fr 7fr 4fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogs .activeLink {
    color: blue;
}

.dialogs_size img{
    width: 450px;
    margin-top: 10px;
}

.color_item {
    display: block;
    color: white;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.messages {
    padding: 10px;
}